#mobile-header, #header {
    background: var(--color-white);
    box-shadow: 0 .1rem rgb(0, 0, 0, 0.075);
    height: 6rem;
    width: 100%;
}

#mobile-header {
    position: fixed;
    top: 0;
}

#header {
    display: none;
    position: relative;
    transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

nav.header_menu-btn {
    position: absolute;
    left: .3rem;
    top: .6rem
}

#mobile_header-logo, #header-logo {
    position: absolute;
    display: flex;
    height: inherit;
    place-content: center;
}

#mobile_header-logo {
    left: 36.76%;
}

#header-logo {
    left: 2.4rem;
}

#menu-button {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    width: 6rem;
    height: 5.4rem;
}

@media (min-width: 768px) {
    #mobile-header {
        display: none;
    }

    #header {
        display: block;
    }
}

#header_nav {
    position: absolute;
    right: 1.4rem;
    top: 0;
    height: inherit;
}

nav.navbar-menu {
    text-align: center;
}

nav.navbar-menu > ul {
    display: inline-flex;
    height: 100%;
}

nav.navbar-menu > ul li {
    position: relative;
    float: left;
    height: 100%;
}

nav.navbar-menu > ul li > .divider {
    background: rgb(0, 0, 0, 0.075);
    display: block;
    height: 60%;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    top: 20%;
    width: .1rem;
}

#header_signin-btn {
    align-items: center;
    color: var(--color-black);
    cursor: pointer;
    display: inline-flex;
    font-weight: var(--font-weight-bold);
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    transition: color 0.1s;
}

#header_signin-btn:hover {
    color: var(--color-dark-green);
}

#header_signup-btn {
    margin-top: 1.3rem;
}

nav.navbar-menu > ul::after {
    content: '';
    clear: both;
    display: block;
}