.dashboard {
    display: flex;
}

.dashboard--sidebar {
    display: none;
    box-shadow: rgb(0, 0, 0, 0.075) 0.1rem 0;
    max-width: 22rem;
    min-width: 22rem;
}

.dashboard--sidebar_nav {
    flex-grow: 1;
    padding: 2rem;
    overflow: auto;
}

.dashboard--sidebar_nav a {
    font-size: 1.6rem;
    border-radius: .8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.2rem;
}

.dashboard--sidebar_nav li:not(:last-child) {
    margin-bottom: 1rem;
}

.dashboard--sidebar_nav a:hover {
    background-color: var(--color-light-grey);
}

.dashboard--sidebar_nav a.active {
    background-color: #ededee;
}

.dashboard--sidebar_nav a.active div::after {
    font-variation-settings: 'wght' 650;
}

.dashboard--sidebar_nav a div::after {
    content: attr(data-label);
    font-variation-settings: 'wght' 450;
}

.dashboard--sidebar_nav a > .icon--dashboard {
    font-size: 2rem;
}

.dashboard_content {
    flex-grow: 2;
    overflow: auto;
}

#dashboard_bank-listings, #bank-page {
    padding: 3rem;
    position: relative;
}

#dashboard_bank-listings > .bank-listings__top,
#bank-page .bank-page__top {
    position: relative;
}

#dashboard_bank-listings .bank-listings__title,
#bank-page .bank-page__title {
    font-size: 2.4rem;
    font-variation-settings: 'wght' 900;
    height: 4rem;
    line-height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#dashboard_bank-listings .bank-listings__body {
    margin-top: 3rem;
}

.bank-listings__body .bank-listings_content_none {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 19rem);
}

@media (min-width: 768px){
    .dashboard--sidebar {
        display: flex;
        flex-direction: column;
    }
    .dashboard_content {
        height: 100%;
    }
    #dashboard_bank-listings, #bank-page {
        padding: 4rem;
    }
    #dashboard_bank-listings .bank-listings__title,
    #bank-page .bank-page__title {
        font-size: 3.5rem;
    }
}

