.dashboard {
    display: flex;
}

.dashboard--sidebar {
    display: none;
    box-shadow: rgb(0, 0, 0, 0.075) 0.1rem 0;
    max-width: 22rem;
    min-width: 22rem;
}

.dashboard--sidebar_nav {
    flex-grow: 1;
    padding: 2rem;
    overflow: auto;
}

.dashboard--sidebar_nav a {
    font-size: 1.6rem;
    border-radius: .8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.2rem;
}

.dashboard--sidebar_nav li:not(:last-child) {
    margin-bottom: 1rem;
}

.dashboard--sidebar_nav a:hover {
    background-color: var(--color-light-grey);
}

.dashboard--sidebar_nav a.active {
    background-color: #ededee;
}

.dashboard--sidebar_nav a.active div::after {
    font-variation-settings: 'wght' 650;
}

.dashboard--sidebar_nav a div::after {
    content: attr(data-label);
    font-variation-settings: 'wght' 450;
}

.dashboard--sidebar_nav a > .icon--dashboard {
    font-size: 2rem;
}

.dashboard_content {
    flex-grow: 2;
    overflow: auto;
}

.dashboard_content .wrapper div[data-label='salutations']::after {
    content: 'Welcome to your future of table banking';
    color: var(--color-medium-grey);
    font-size: 1.2rem;
    font-variation-settings: 'wght' 300;
    letter-spacing: 1rem;
    text-transform: uppercase;

}

#dashboard_bank-listings, #bank-page {
    padding: 3rem;
    position: relative;
}

#dashboard_bank-listings > .bank-listings__top,
#bank-page .bank-page__top {
    position: relative;
}

#dashboard_bank-listings .bank-listings__title,
#bank-page .bank-page__title {
    font-size: 2.4rem;
    font-variation-settings: 'wght' 900;
    height: 4rem;
    line-height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#dashboard_bank-listings .bank-listings__filters {
    display: flex;
    position: absolute;
    right: 0;
    top: .2rem;
}

#dashboard_bank-listings .bank-listings__filters > .bank-listings__search {
    display: none;
}

.bank-listings__search > form {
    flex-direction: row;
    position: relative;
}

.bank-listings__search > form  input[type='search'] {
    border: none;
    outline: none;
    transition: box-shadow .1s;
    box-shadow: inset 0 0 0 .1rem #d8d8da, inset 0 0 0 10rem white;
    border-radius: .8rem;
    height: 3.6rem;
    padding: 0 1rem;
    padding-right: 3.6rem;
}

.bank-listings__search > form  input[type='search'] + span.input-search__search-btn,
#search-form span.input-search__clear-search {
    cursor: pointer;
    position: absolute;
    right: 0;
    height: 3.6rem;
    width: 2.6rem;
    align-items: center;
    transition: all 0.15s ease;
}

.bank-listings__search > form  input[type='search'] + span.input-search__search-btn {
    display: inline-flex;
}

#search-form span.input-search__clear-search {
    display: none;
}

.bank-listings__search > form  input[type='search']:focus {
    box-shadow: inset 0 0 0 .1rem #0066ff, inset 0 0 0 10rem white;
}

#banklist-new_bank-btn {
    display: none;
}

#banklist-new_bank-btn, #mobile__new-btn {
    margin-left: 1.5rem;
}

#mobile__new-btn {
    background-color: var(--color-dark-green);
    color: var(--color-white);
}

#dashboard_bank-listings .bank-listings__filters .icon {
    position: relative;
    height: inherit;
    width: 1.8rem;
}

#dashboard_bank-listings .bank-listings__filters .icon > svg {
    position: absolute;
    top: calc(50% - .9rem);
    left: 0;
}

#dashboard_bank-listings .bank-listings__body {
    margin-top: 3rem;
}

.bank-listings__body .bank-listings_content_none {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 19rem);
}

.bank-listings__body .bank-listings_content_results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem 1.5rem;
}

.bank-listings_content_results .bank-card {
    border-radius: 1.8rem;
    /* background: linear-gradient(#e66465, #9198e5); */
    background-color: var(--color-light-grey);
    box-shadow: .5rem .5rem .5rem rgb(0, 0, 0, 0.1);
    padding: 2.5rem;
}

.bank-card .bank-name {
    font-variation-settings: 'wght' 700;
    font-size: x-large;
}

.bank-card__body div[data-label]::after {
    content: attr(data-label);
    text-transform: uppercase;
    font-size: 1rem;
    font-variation-settings: 'wght' 200;
    letter-spacing: 1rem;
}

.bank-card__body .bank-card__amount {
    font-size: 2.4rem;
    font-variation-settings: 'wght' 450;
}

.bank-card__body .bank-card__amount + a {
    display: inline-block;
    width: 100%;
}

#bank-page .bank-page__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

#bank-page .bank-page__container div[data-label]::after {
    content: attr(data-label);
    font-size: 1rem;
    letter-spacing: 1rem;
    text-transform: uppercase;    
}

#bank-page .bank-page__container div[data-label] + div {
    margin-top: 1rem;
    font-size: 2.4rem;
}

@media (min-width: 768px){
    .dashboard--sidebar {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 6rem);
    }
    .dashboard_content {
        height: 100%;
    }
    #dashboard_bank-listings, #bank-page {
        padding: 4rem;
    }
    #dashboard_bank-listings .bank-listings__title,
    #bank-page .bank-page__title,
    #bank-page .bank-page__container div[data-label] + div  {
        font-size: 3.5rem;
    }
    #mobile__search-btn, #mobile__new-btn {
        display: none;
    }
    #dashboard_bank-listings .bank-listings__filters > .bank-listings__search {
        display: block;
        width: auto;
    }
    .bank-listings__search > form  input[type='search'] {
        width: 18rem;
    }
    #banklist-new_bank-btn {
        display: inline-flex;
        align-items: center;
        gap: 1rem;
        background-color: var(--color-dark-green);
        color: var(--color-white);
    }
    #banklist-new_bank-btn span {
        font-variation-settings: 'wght' 650;
    }
}

#search-form > input[type='search']:not(:placeholder-shown):not(:focus) + .input-search__search-btn {
    display: none;
}

#search-form > input[type='search']:not(:placeholder-shown):not(:focus) ~ .input-search__clear-search {
    display: inline-flex;
}